<?xml version="1.0"?>
<robot name="generated_robot">
  
  <mujoco>
    <compiler discardvisual="false"/>
  </mujoco>
  
  <link name="world"/>
  
  <joint name="world_to_body" type="fixed">
    <parent link="world"/>
    <child link="body"/>
    <origin xyz="0 0 1.0" rpy="0 0 0"/>
  </joint>
  
  <link name="body">
    <visual>
      <origin xyz="0 0 -0.5" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0880" length="1.0000"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="10.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  
  <joint name="joint_0" type="revolute">
    <parent link="body"/>
    <child link="link_0"/>
    <origin xyz="0.08 0.0 0.0" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>
  <joint name="joint_1" type="revolute">
    <parent link="link_0"/>
    <child link="link_1"/>
    <origin xyz="0.0 -0.08 0.09" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>
  <joint name="joint_2" type="revolute">
    <parent link="link_1"/>
    <child link="link_2"/>
    <origin xyz="0.0 -0.12 0.06" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>
  <joint name="joint_3" type="revolute">
    <parent link="link_2"/>
    <child link="link_3"/>
    <origin xyz="0.0 -0.08 0.24" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>
  <joint name="joint_4" type="revolute">
    <parent link="link_3"/>
    <child link="link_4"/>
    <origin xyz="0.0 -0.1 0.05" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>
  <joint name="joint_5" type="revolute">
    <parent link="link_4"/>
    <child link="link_5"/>
    <origin xyz="0.0 0.0 0.2" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>
  <joint name="joint_6" type="revolute">
    <parent link="link_5"/>
    <child link="link_6"/>
    <origin xyz="0.0 0.0 0.1" rpy="0.0000 0.0000 0.0000"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="1"/>
  </joint>
  
  <link name="link_0">
    <visual>
      <origin xyz="0.0000 -0.0400 0.0450" rpy="0.0000 0.0000 0.0000"/>
      <geometry>
        <cylinder radius="0.0400" length="0.0900"/>
      </geometry>
      <material name="mat_0">
        <color rgba="1 0 0 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <link name="link_1">
    <visual>
      <origin xyz="0.0000 -0.0600 0.0300" rpy="1.5708 0.0000 0.0000"/>
      <geometry>
        <cylinder radius="0.0300" length="0.1200"/>
      </geometry>
      <material name="mat_1">
        <color rgba="0 0 1 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <link name="link_2">
    <visual>
      <origin xyz="0.0000 -0.0400 0.1200" rpy="0.0000 0.0000 0.0000"/>
      <geometry>
        <cylinder radius="0.0400" length="0.2400"/>
      </geometry>
      <material name="mat_2">
        <color rgba="1 0 0 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <link name="link_3">
    <visual>
      <origin xyz="0.0000 -0.0500 0.0250" rpy="1.5708 0.0000 0.0000"/>
      <geometry>
        <cylinder radius="0.0300" length="0.1000"/>
      </geometry>
      <material name="mat_3">
        <color rgba="0 0 1 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <link name="link_4">
    <visual>
      <origin xyz="0.0000 0.0000 0.1000" rpy="0.0000 0.0000 0.0000"/>
      <geometry>
        <cylinder radius="0.0300" length="0.2000"/>
      </geometry>
      <material name="mat_4">
        <color rgba="1 0 0 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <link name="link_5">
    <visual>
      <origin xyz="0.0000 0.0000 0.0500" rpy="0.0000 0.0000 0.0000"/>
      <geometry>
        <cylinder radius="0.0300" length="0.1000"/>
      </geometry>
      <material name="mat_5">
        <color rgba="0 0 1 1.0"/>
      </material>
    </visual>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
  <link name="link_6">
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
  </link>
</robot>